
h1 {
    color: blue;
    text-align: center;
}
 
h2 {
    color: blue;
    text-align: center;
}
 
h3 {
    color: blueviolet;
    text-align: center;
}
 
h4 {
    color: brown;
    text-align: center;
}
 
p1 {
    color: crimson;
}
 
 